[Unit]
Description=Optimus discord Bot
After=network.target
Requires=meilisearch.service

[Service]
ExecStart=/opt/discord/optimus /some/arbitrary/path/to/your_config.toml
Restart=always

[Install]
WantedBy=multi-user.target

